<div class="home">
  <mat-toolbar color="primary" class="mat-elevation-z2">
    <mat-toolbar-row>
      <div class="row">
        <button mat-button routerLink='/nav'>
          <mat-icon>home</mat-icon> Nasze Menu
        </button>
        <button mat-button routerLink='/create'>
          <mat-icon>construction</mat-icon> Stwórz własną pizzę
        </button>
        <button mat-button routerLink='/suggest'>
          <mat-icon>wysiwyg</mat-icon> Przegląd waszych pizz
        </button>
        <button mat-button routerLink='/com'>
          <mat-icon>speaker_notes</mat-icon> Wasze sugestie
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="bottomnav">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">tel. 18-445-21-11 &nbsp; ul.Runek 19</a>
      </div>
    </nav>
  </div>

</div>